// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
        }
        // numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        accel-speed 0.8
        accel-profile "flat"
        scroll-factor 0.15
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.3
        accel-profile "flat"
        // scroll-method "no-scroll"
    }
    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
